//- BEGIN CARD MIXIN
//- ===
mixin card(title, list, path, online)
  article.card
    .card__image
      img(src="assets/img/projects/" + path + "/thumb.png", alt=title)
        
    .card__content
      header.card__header
        h2.card__title=title
        ul.card__list
          each item in list
            li=item
    
      .card__desc: block
      
      footer.card__footer
        a(href=online, title=title, rel="nofollow").btn.btn--primary.btn--small #[i.fas.fa-external-link-square-alt] online
        
//- ===
//- END CARD MIXIN

section#portfolio.section.section--light: .container
  header.section__header
    h1.section__title Wybrane projekty i realizacje
    p.section__desc czyli nad czym pracowałem dotychczas
    
  .cards
    +card('Pastelove Kadry', ['Wordpress', 'HTML5', 'CSS3 / Sass', 'Gulp'], 'pastelovekadry', 'https://pastelovekadry.com/')
      | Stworzenie motywu graficznego do Wordpressa na podstawie dostarczonych .psd. Instalacja i konfiguracja (multisite) oraz zmiana domeny.
    +card('Fiszki', ['HTML5', 'CSS3 / Sass', 'Javascript / ES6', 'Gulp'], 'flashcards', 'https://tabakowy.github.io/brainly-flashcards-app/build/')
      | Prosta aplikacja z fiszkami stworzona na potrzeby procesu rekrutacyjnego do Brainly.
    +card('PPHU ELBA', ['HTML5 / Pug', 'CSS3 / Sass', 'Javascript / ES6', 'Gulp'], 'elba', 'https://pphu-elba.pl/')
      | Wdrożenie projektu graficznego; front-end development; psd2html.
    +card("JavaScript30 (WIP)", ["Javascript / ES6", "CSS3 / Sass", "Design"],
    "javascript30", "https://codepen.io/collection/ANdmZw/")
      | Projekty są efektem ubocznym kursu #Javascript30 Wes Bosa. Zadania starałem się realizować wg swojego zamysłu - zarówno od strony JS jak i tej czysto wizualnej.
    +card("Restauracje z rabatem", ['HTML5 / Pug', 'CSS3 / Sass', 'Javascript / ES6', 'Gulp', "Integracja z CMS"], "restauracjezrabatem", "http://restauracjezrabatem.pl/")
      | Wdrożenie projektu graficznego na podstawie dostarczonych plików .psd oraz integracja z systemem CMS serwisu (php + MS SQL). 
    +card("pwojnicz.pl \'16", ["Design", "HTML5", 'CSS3 / Sass', 'Gulp'], "pwojnicz-2016", "https://pwojnicz.pl/online/pwojnicz-2016")
      | Poprzednia wersja portfolio.
  
  .text-featured Zajrzyj także na mój profil #[a(href=github) Github], #[a(href=dribbble) Dribbble] oraz #[a(href=codepen) Codepen].
